:root {
  --nav-spacing: 20px;
  --nav-height: 60px;
  --popup-width: 150px;
}

body {
  font: 20px "Gill Sans", Verdana, sans-serif;
  line-height: 1.8;
  color: #ffffff;
  background-color: #000000;
  padding-top: var(--nav-height);
  padding-bottom: var(--nav-height);
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Fixed Top Bar */
.top-bar {
  position: fixed;
  top: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.top-bar .container {
  max-width: 1200px;
  margin: 0 auto;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0 var(--nav-spacing);
}

.top-bar a:hover {
  color: #088080;
}

/* Fixed Bottom Bar */
.bottom-bar {
  position: fixed;
  bottom: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.bottom-bar .container {
  max-width: 1200px;
  margin: 0 auto;
  height: var(--nav-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-bar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0 var(--nav-spacing);
  position: relative;
}

.bottom-bar a:hover {
  color: #088080;
}

/* Pop-up Styles */
.popup {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: var(--popup-width);
  max-height: 400px; /* Set the max height */
  overflow-y: auto; /* Enable scrolling if content exceeds the max height */
  background-color: #088080e6;
  padding: 10px;
  border-radius: 8px;
  display: none;
  z-index: 1000;
  text-align: center;
}

/* Pop-up Title Style */
.popup-title {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
  color: #ffffff;
  line-height: 1;
}

/* Pop-up Body Text Style */
.popup-body {
  font-size: 14px;
  color: #ffffff;
  word-wrap: break-word;
  line-height: 1;
}

.bottom-bar a:hover .popup {
  display: block;
}

.popup img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 3px;
  line-height: 1;
}
